:root {
    --bg: #0f172a;
    --card: #1e293b;
    --text: #f8fafc;
    --secondary: #94a3b8;
    --accent: linear-gradient(90deg, #4f46e5, #9333ea);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: var(--bg);
    color: var(--text);
    text-align: center;
    line-height: 1.8;
}

/* HERO */

.hero {
    padding: 120px 20px 80px;
    background: radial-gradient(circle at top, #312e81, #0f172a);
}

.hero-container {
    max-width: 700px;
    margin: auto;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 25px;
    border: 4px solid #4f46e5;
}

.profile-placeholder {
    width: 150px;
    height: 150px;
    margin: 0 auto 25px;
    border-radius: 50%;
    background: linear-gradient(135deg, #4f46e5, #9333ea);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
}


h1 {
    font-size: 2.8rem;
    background: var(--accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    margin-top: 10px;
    color: var(--secondary);
}

/* Sections */

.section {
    max-width: 750px;
    margin: auto;
    padding: 80px 20px;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 25px;
    position: relative;
}

h2::after {
    content: "";
    width: 60px;
    height: 3px;
    background: var(--accent);
    display: block;
    margin: 12px auto 0;
    border-radius: 20px;
}

/* Skills */

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.skills span {
    background: var(--card);
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 0.85rem;
    border: 1px solid #334155;
    transition: 0.3s ease;
}

.skills span:hover {
    transform: translateY(-4px);
    border-color: #4f46e5;
}

/* Card */

.card {
    background: var(--card);
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #334155;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
}

/* Lists */

.clean-list {
    list-style: none;
}

.clean-list li {
    margin-bottom: 12px;
    color: var(--secondary);
}

/* Footer */

footer {
    padding: 60px;
    color: var(--secondary);
    border-top: 1px solid #334155;
}

/* Scroll Animation */

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

